#contacts {
    display: block;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--contacts-width);
    height: 100%;
    background: var(--contacts-background);
}
#contacts>button{
    box-sizing: border-box;
    margin: 1em;
    padding: 0;
    width: 2em;
    height: 2em;
    line-height: 1em;
    border: .1em solid #fff;
    border-radius: 1em;
    background: none;
    color: inherit;
}
#contacts>button>span{
    font-size: 1.5em;
}
#contacts>form>ul {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
#contacts>form>ul>li{
    display: block;
    position: relative;
    box-sizing: border-box;
    /*margin: 0;*/
    /*padding: 0;*/
    border-top: .1em solid #545454;
}
#contacts>form>ul>li>input{
    display: none;
}
#contacts>form>ul>li>label{
    display: block;
    box-sizing: border-box;
    padding: 1em 1em;
    width: 100%;
}
#contacts>form>ul>li>input:checked + label{
    background: #626262;
}
#contacts>form>ul>li>label>img{
    display: block;
    box-sizing: border-box;
    float: left;
    width: 1.5em;
    height: 1.5em;
    border: .1em solid #fff;
    border-radius: 2em;
}
#contacts>form>ul>li>label>img {
    background: url("../images/user.svg") no-repeat;
    background-size: contain;
}
#contacts>form>ul>li>label>span{
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 3em);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: .5em;
    line-height: 1.5em;
}
#contacts>form>ul>li>progress{
    position: absolute;
    top: 1.25em;
    right: 1em;
}
li{
    position: relative;

}
li>menu{
    box-sizing: border-box;
    position: absolute;
    top: .25em;
    margin: 0;
    padding: 0;
    list-style: none;
}
#contacts>form>ul>li>menu{
    right: 2em;
}
#servers>fieldset>ul>li>menu{
    right: -.5em;
}
#contacts>form>ul>li>menu{
    top: .7em;
}
#contacts>form>ul>li>menu{
    display: none;
}
li>menu>li{
    display: block;
    box-sizing: border-box;
    float: left;
}

#contacts>form>ul>li>menu>li>button{
    display: block;
    top: .7em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

#contacts>form>ul>li>menu>li>button>span{
    font-size: 1.5em;
}
li>menu>li>button:hover>span{
    color: #c998ff;
}
/*#contacts>form>ul>li:hover>button{*/
/*    display: block;*/
/*}*/
#contacts>form>ul>li:hover>menu{
    display: block;
}
